@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.sp {
  display: none;
}
@media (max-width: 767px) {
  .sp {
    display: block;
  }
}
.pc {
  display: block;
}
@media (max-width: 767px) {
  .pc {
    display: none;
  }
}
.main {
  background: #f9f9e8;
  font-family: "Noto Sans JP", sans-serif;
  color: #47372b;
}
.main table {
  font-family: "Noto Sans JP", sans-serif !important;
}
.mv {
  width: 100%;
  height: 721px;
  background: url("../img/mv.jpg") no-repeat center center / cover;
}
@media (max-width: 767px) {
  .mv {
    height: 400px;
  }
}
@media (max-width: 428px) {
  .mv {
    height: 549px;
    background: url("../img/mv-sp.png") no-repeat center center / cover;
  }
}
.inner {
  max-width: 1662px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 428px) {
  .inner {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
  }
}
.container {
}
/* head */
.head {
  padding: 150px 0;
  background: url("../img/head-bg.png") no-repeat center center / contain;
}
@media (max-width: 767px) {
  .head {
    padding: 30px 0 15px;
    background: url("../img/head-bg.png") no-repeat center center / contain;
  }
}
@media (max-width: 428px) {
  .head {
    padding: 30px 0 15px;
    background: url("../img/head-bg-sp.png") no-repeat center center / cover;
  }
}
.head h1 {
  font-size: 52px;
  line-height: calc(87 / 52);
  letter-spacing: 0.1em;
  margin-bottom: 60px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .head h1 {
    font-size: 18px;
    line-height: calc(87 / 52);
    letter-spacing: 0.1em;
    margin-bottom: 15px;
  }
}
.head p {
  font-size: 20px;
  line-height: calc(39.69 / 20);
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media (max-width: 767px) {
  .head p {
    font-size: 16px;
    line-height: calc(39.69 / 20);
    letter-spacing: 0.1em;
    text-align: left;
  }
}
/* points  */
.points {
  width: 100%;
  max-width: 1223px;
  margin: 0 auto;
  display: flex;
  align-items: start;
}
@media (max-width: 767px) {
  .points {
    max-width: 100%;
  }
}
@media (max-width: 428px) {
  .points {
    display: block;
  }
}
.point {
  width: calc(33.33% - 86px * 2 / 3);
  margin-right: 86px;
}
.point:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .point {
    width: calc(33.33% - 40px * 2 / 3);
    margin-right: 40px;
  }
}
@media (max-width: 428px) {
  .point {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .point:last-child {
    margin-bottom: 0;
  }
}
.point img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.point p {
  font-size: 20px;
  line-height: calc(34 / 20);
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 767px) {
  .point img {
    max-width: 202px;
    margin-bottom: 25px;
  }
  .point p {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
/* policies  */
.policies {
  width: 100%;
  max-width: 1223px;
  margin: 0 auto;
  padding: 150px 0;
}
@media (max-width: 767px) {
  .policies {
    max-width: 100%;
    padding: 25px 0 55px;
  }
}
.policy1 {
  display: flex;
  align-items: start;
  margin-bottom: 46px;
}
@media (max-width: 428px) {
  .policy1 {
    display: block;
    margin-bottom: 30px;
  }
}
.policy1 img {
  display: inline-block;
  margin-right: 55px;
  width: calc((393 / 1223) * 100%);
}
@media (max-width: 428px) {
  .policy1 img {
    width: 100%;
    max-width: 271px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.policy1 p {
  font-size: 22px;
  line-height: calc(39.69 / 22);
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 767px) {
  .policy1 p {
    font-size: 16px;
    line-height: calc(21 / 16);
  }
}
.policy2 {
  display: flex;
  align-items: center;
}
@media (max-width: 428px) {
  .policy2 {
    display: block;
  }
}
.policy2 img {
  display: inline-block;
  margin-right: 55px;
  width: calc((393 / 1223) * 100%);
}
@media (max-width: 428px) {
  .policy2 img {
    width: 100%;
    max-width: 271px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.policy2 p {
  font-size: 22px;
  line-height: calc(39.69 / 22);
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 767px) {
  .policy2 p {
    font-size: 16px;
    line-height: calc(21 / 16);
  }
}
/* servicies */
.servicies {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .servicies {
    max-width: 100%;
  }
}
.servicies h1 {
  font-size: 40px;
  line-height: calc(53.86 / 40);
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .servicies h1 {
    font-size: 24px;
    line-height: calc(32 / 24);
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
}
.servicies p {
  font-size: 22px;
  line-height: calc(21 / 22);
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .servicies p {
    font-size: 16px;
    line-height: calc(39.69 / 20);
    letter-spacing: 0.1em;
    margin-bottom: 8px;
  }
}
.servicies table {
  width: 100%;
  background: #fff;
}
@media (max-width: 428px) {
  .servicies table {
    background: #fff;
  }
}
.servicies tr {
  border-left: 1.4px solid #47372b;
  border-right: 1.4px solid #47372b;
  background-image: linear-gradient(
    to right,
    #47372b,
    #47372b 5px,
    transparent 2px,
    transparent 8px
  ); /* 幅2の線を作る */
  background-size: 8px 1.4px; /* グラデーションの幅・高さを指定 */
  background-position: left bottom; /* 背景の開始位置を指定 */
  background-repeat: repeat-x;
}
.servicies tr.top {
  border-top: 1.4px solid #47372b;
}
.servicies tr.last {
  border-bottom: 1.4px solid #47372b;
  background: none;
}
@media (max-width: 428px) {
  .servicies tr {
    border-left: 0px solid #47372b;
    border-right: 0px solid #47372b;
    border-bottom: 0px dashed #47372b;
  }
  .servicies tr.top {
    border-top: 0px solid #47372b;
  }
  .servicies tr.last {
    border-bottom: 0px solid #47372b;
  }
}
.servicies tr th {
  padding: 50px 0 50px 80px;
  font-size: 28px;
  letter-spacing: 0.2em;
  line-height: calc(36 / 28);
  font-weight: 500;
  width: 383px;
  text-align: left;
  vertical-align: middle;
  color: #ff386b;
}
@media (max-width: 1200px) {
  .servicies tr th {
    font-size: 24px;
    padding: 25px 20px;
    width: 240px;
  }
}
@media (max-width: 767px) {
  .servicies tr th {
    font-size: 20px;
    padding: 15px 10px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 428px) {
  .servicies tr th {
    border-bottom: 1px dashed #333;
  }
}
.servicies tr td {
  padding: 30px 60px;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: calc(33.05 / 18);
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .servicies tr td {
    padding: 15px 20px 0;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media (max-width: 428px) {
  .servicies tr:last-child td {
    margin-bottom: 25px;
  }
}
.servicies tr th,
.servicies tr td {
  height: 162px;
}
@media (max-width: 767px) {
  .servicies tr th,
  .servicies tr td {
    display: block;
    width: 100%;
    height: 100%;
  }
}
/* place  */
.place {
  width: 100%;
  max-width: 1197px;
  margin: 0 auto;
  padding: 150px 0 100px;
}
@media (max-width: 767px) {
  .place {
    max-width: 100%;
    padding: 30px 0 50px;
  }
}
.place h1 {
  font-size: 40px;
  line-height: calc(53.86 / 40);
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .place h1 {
    font-size: 24px;
    line-height: calc(53.86 / 40);
    letter-spacing: 0.1em;
    margin-bottom: 30px;
  }
}
.place-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .place-wrapper {
    display: block;
  }
}
.place-wrapper img {
  display: inline-block;
  width: calc(50% - 30px * 1 / 2);
  height: 341px;
  object-fit: cover;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .place-wrapper img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.place-wrapper table {
  width: calc(50% - 30px * 1 / 2);
}
@media (max-width: 767px) {
  .place-wrapper table {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .place-wrapper table tr {
    background-image: linear-gradient(
      to right,
      #47372b,
      #47372b 5px,
      transparent 2px,
      transparent 8px
    ); /* 幅2の線を作る */
    background-size: 8px 1.4px; /* グラデーションの幅・高さを指定 */
    background-position: left bottom; /* 背景の開始位置を指定 */
    background-repeat: repeat-x;
  }
}
.place-wrapper table tr th {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(21 / 20);
  letter-spacing: 0.1em;
  padding-bottom: 25px;
  vertical-align: middle;
}
.place-wrapper table tr:nth-child(1) th,
.place-wrapper table tr:nth-child(2) th {
  vertical-align: bottom;
}
@media (max-width: 767px) {
  .place-wrapper table tr th {
    padding-left: 20px;
  }
}
@media (max-width: 428px) {
  .place-wrapper table tr th {
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 16px;
    letter-spacing: 0.17em;
    line-height: calc(21 / 16);
    min-width: 97px;
  }
  .place-wrapper table tr:first-child th {
    min-width: auto;
  }
}
.place-wrapper table tr td {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: calc(21 / 20);
  letter-spacing: 0.1em;
  padding-left: 25px;
  padding-bottom: 25px;
}
.place-wrapper table tr td span {
  font-size: 14px;
}
@media (max-width: 428px) {
  .place-wrapper table tr td {
    padding-left: 67px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 20px;
    font-size: 16px;
    letter-spacing: 0.17em;
    line-height: calc(21 / 16);
  }
  .place-wrapper table tr:nth-child(1) td {
    padding-left: 42px;
    padding-right: 18px;
  }
  .place-wrapper table tr:nth-child(2) td {
    padding-right: 18px;
  }
  .place-wrapper table tr:nth-child(3) td,
  .place-wrapper table tr:nth-child(4) td,
  .place-wrapper table tr:nth-child(5) td {
    text-align: right;
  }
}
@media (max-width: 420px) {
  .place-wrapper table tr td {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .place-wrapper table tr:first-child td {
    padding-left: 22px;
  }
}
@media (max-width: 368px) {
  .place-wrapper table tr:first-child td {
    padding-left: 0px;
  }
  .place-wrapper table tr td span {
    font-size: 13px;
  }
}
/* photos */
.photos {
  width: 100%;
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .photos {
    max-width: 100%;
  }
}
.photo {
  width: calc(25% - 20px * 3 / 4);
  margin-right: 20px;
  margin-bottom: 35px;
}
.photo:nth-child(n + 5) {
  margin-bottom: 0;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 767px) {
  .photo {
    width: calc(50% - 20px * 1 / 2);
    margin-right: 20px;
  }
  .photo:nth-child(4n) {
    margin-right: 20px;
  }
  .photo:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 428px) {
  .photo {
    width: calc(50% - 10px * 1 / 2);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.photo img {
  width: 100%;
  aspect-ratio: 280 / 187;
  object-fit: cover;
}
/* access  */
.access {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 150px 0;
}
@media (max-width: 767px) {
  .access {
    padding: 45px 0;
  }
}
.access h1 {
  font-size: 40px;
  line-height: calc(53.86 / 40);
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .access h1 {
    font-size: 24px;
    line-height: calc(53.86 / 40);
    letter-spacing: 0.1em;
    margin-bottom: 25px;
  }
}
.access img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
@media (max-width: 428px) {
  .root {
    margin: 15px 0;
  }
}
.root table {
  text-align: left;
}
.root tr th,
.root tr td {
  font-size: 20px;
  font-weight: 600;
  line-height: calc(21 / 20);
  letter-spacing: 0.1em;
}
.root tr td {
  padding-left: 50px;
  font-weight: 400;
  padding-bottom: 25px;
}
.root tr:last-child td {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .root table {
    width: 100%;
  }
  .root tr th,
  .root tr td {
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.17em;
    text-align: center;
  }
  .root tr th {
    padding-bottom: 15px;
  }
  .root tr td {
    padding-left: 0;
  }
}
@media (max-width: 428px) {
  .root tr th,
  .root tr td {
    width: 100%;
    text-align: center;
  }
}
/* plan */
.plan {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .plan {
    max-width: 100%;
  }
}
.plan h1 {
  font-size: 40px;
  line-height: calc(53.86 / 40);
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .plan h1 {
    font-size: 24px;
    line-height: calc(53.86 / 40);
    letter-spacing: 0.1em;
    margin-bottom: 25px;
  }
}
@media (max-width: 428px) {
  .plan h1 {
    margin-bottom: 75px;
  }
}
.plan p {
  font-size: 24px;
  line-height: calc(21 / 24);
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .plan p {
    font-size: 20px;
    line-height: calc(39.69 / 20);
    letter-spacing: 0.1em;
    margin-bottom: 8px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .plan .first p {
    margin-left: 105px;
  }
}
@media (max-width: 428px) {
  .plan .second p,
  .plan .third p {
    text-align: center;
    margin-bottom: 0;
    padding: 25px 0;
  }
}
.plan span {
  font-size: 20px;
  line-height: calc(21 / 20);
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .plan span {
    font-size: 16px;
    line-height: calc(39.69 / 20);
    letter-spacing: 0.1em;
    margin-left: 15px;
    margin-bottom: 8px;
  }
}
.table {
  overflow-x: auto;
  width: 100%;
  margin: 0 auto;
}
.table table {
  border: 1px solid #47372b;
  margin-bottom: 70px;
  width: 1106px;
}
@media (max-width: 767px) {
  .plan table {
    margin-bottom: 35px;
    border: 0px solid #47372b;
    width: 100%;
  }
}
@media (max-width: 428px) {
  .plan table {
    width: 100%;
    margin-bottom: 0;
  }
}
.table tr th {
  padding: 25px 30px;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: calc(21 / 20);
  font-weight: 400;
  width: 218px;
  min-width: 218px;
  text-align: left;
  vertical-align: middle;
  background: rgba(249, 220, 220, 0.5);
  border: 1px solid #47372b;
  height: 70px;
}
@media (max-width: 1200px) {
  .table tr th {
    text-align: center;
  }
}
.table tr th span,
.table tr td span {
  font-size: 14px;
  font-weight: 400;
}
.table tr th p {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .table tr th p {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .table tr th {
    width: 100%;
    display: block;
    min-width: auto;
  }
  .table tr th p {
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .table tr th {
    max-width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #c0b9b4;
  }
}
.table tr td {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: calc(33.05 / 18);
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  padding: 25px 60px 25px 40px;
  border: 1px solid #47372b;
  width: 393px;
  min-width: 393px;
}
@media (max-width: 767px) {
  .table tr td {
    width: 100%;
    display: block;
    min-width: auto;
  }
}
@media (max-width: 767px) {
  .table tr td {
    border: none;
    border-bottom: 1px solid #c0b9b4;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.17em;
    background: #fff;
    text-align: center;
    padding: 15px 0;
  }
  .table tr td.center {
    text-align: center;
  }
}
.table tr td.content {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: calc(22 / 15);
  font-weight: 400;
  padding: 25px 20px;
  width: 495px;
  min-width: 495px;
}
@media (max-width: 767px) {
  .table tr td.content {
    width: 100%;
    display: block;
    min-width: auto;
  }
}
@media (max-width: 767px) {
  .table tr td.content {
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
  .table tr td.content span {
    margin-left: 0;
  }
  .third tr td.content {
    border-bottom: 1px solid #c0b9b4;
  }
  .third tr:last-child td.content {
    border-bottom: 0px solid #c0b9b4;
  }
}
.table.second tr td.light {
  padding: 0 60px 0 40px;
}
@media (max-width: 767px) {
  .table.second tr td.light {
    padding: 10px 0;
  }
}
.table.second tr th.total {
  text-align: center;
}
@media (max-width: 767px) {
  .table.second tr th.total {
    padding: 0 0 45px 0;
    font-weight: 600;
    background: #fff;
    border-bottom: none;
  }
}
.table.second tr td span {
  font-size: 13px;
}
.table.third tr th {
  width: 109px;
  min-width: 109px;
}
@media (max-width: 767px) {
  .table.third tr th {
    width: 100%;
    display: block;
    min-width: auto;
  }
}
.table.third tr th.subscribe {
  padding: 10px;
  text-align: center;
  line-height: calc(45.35 / 20);
}
@media (max-width: 767px) {
  .table.third tr th.subscribe {
    line-height: calc(21 / 16);
    padding: 25px 30px;
  }
}
.table.third tr th.set {
  padding: 10px;
}
@media (max-width: 767px) {
  .table.third tr th.set {
    padding: 25px 30px;
  }
}
.other {
  width: 100%;
  border: 0.5px solid #47372b;
  padding: 25px 0;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .other {
    border: 0px solid #47372b;
    background: #fff;
    padding: 35px 0;
    margin-bottom: 0;
  }
}
.other p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(21 / 18);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .other p {
    font-size: 16px;
  }
}
@media (max-width: 428px) {
  .other p {
    font-size: 20px;
    line-height: calc(21 / 20);
  }
}
.other .lists {
  display: flex;
  width: 650px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .other .lists {
    display: block;
    width: 55%;
  }
}
@media (max-width: 428px) {
  .other .lists {
    display: block;
    width: 100%;
    padding: 0 15px;
  }
}
.other .lists div:last-child {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .other .lists div:last-child {
    margin-left: 0;
  }
}
.other .lists div p {
  text-align: left;
}
@media (max-width: 428px) {
  .other .lists div p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
/* cpa  */
.cpa {
  width: 100%;
  min-height: 223px;
  background: #ff516e;
  padding: 65px 0 50px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .cpa {
    display: none;
  }
}
.cpa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}
@media (max-width: 1500px) {
  .cpa-wrapper {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .cpa-wrapper {
    max-width: 90%;
  }
}
.cpa-left {
  width: 63%;
  margin-right: 8%;
}
@media (max-width: 1200px) {
  .cpa-left {
    margin-right: 5%;
  }
}
.cpa-left p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: calc(35 / 20);
  color: #fff;
  text-align: left;
}
@media (max-width: 1300px) {
  .cpa-left p {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .cpa-left p {
    font-size: 16px;
  }
}
.cpa-left div {
  display: flex;
  align-items: start;
  margin-top: 25px;
}
.cpa-left div img {
  display: inline-block;
  width: 59%;
  margin-right: 9%;
  height: auto;
  aspect-ratio: 7.7;
}
.cpa-left div p {
  font-size: 22px;
  line-height: calc(28 / 22);
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: 500;
  text-align: left;
}
@media (max-width: 1300px) {
  .cpa-left div p {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .cpa-left div p {
    font-size: 18px;
  }
}
.cpa-right {
  width: 29%;
}
.cpa-right img {
  display: inline-block;
  width: 100%;
  aspect-ratio: 4.5;
  height: auto;
}
@media (min-width: 768px) {
  .cpa-sp {
    display: none;
  }
}
@media (max-width: 767px) {
  .cpa-sp {
    display: block;
    width: 100%;
    background: #ff516e;
    padding: 45px 0 60px;
  }
  .cpa-sp p {
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
  .cpa-sp p.first {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: calc(22 / 14);
  }
  .cpa-sp p.second {
    font-size: 22px;
    margin: 15px 0 40px;
  }
  .cpa-sp img {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 428px) {
  .cpa-sp p.first {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .cpa-sp p.second {
    font-size: 16px;
    margin: 15px 0 40px;
  }
}
