@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
* 3. Remove gray overlay on links for iOS.
*/
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  /* 1rem = 10px ~ 2rem = 20px */ }

/* Sections */
/* ============================================ */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
* Prevent vertical alignment issues.
*/
img,
embed,
object,
iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
* Reset form fields to make them styleable
*/
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
* Reset radio and checkbox appearance to preserve their look in iOS.
*/
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Remove arrow in IE10 & IE11
*/
select::-ms-expand {
  display: none; }

/**
* Remove padding
*/
option {
  padding: 0; }

/**
* Reset to invisible
*/
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the outline style in Safari.
*/
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
* Clickable labels
*/
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/*
* Remove outline for editable content.
*/
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

body {
  background-color: #f9f9e8;
  color: #231815;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.67; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px; } }

img {
  max-width: 100%; }

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d_grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d_none {
  display: none; }

@media screen and (max-width: 768px) {
  .pc-device {
    display: none; } }

@media screen and (min-width: 769px) {
  .sp-device {
    display: none; } }

.wrap {
  width: 100%;
  padding: 4rem 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .wrap {
      padding: 2rem 0; } }

footer .wrap {
  padding: 0; }

.inner {
  display: block;
  width: 120rem;
  max-width: 98.5%;
  margin-left: auto;
  margin-right: auto; }
  .inner > div:not(:last-child) {
    margin-bottom: 4rem; }
    @media screen and (max-width: 768px) {
      .inner > div:not(:last-child) {
        margin-bottom: 2rem; } }

.inner-max {
  width: 100%;
  max-width: 100%; }

.head-1 {
  display: block;
  width: 230px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #8dc21f;
  color: white;
  border-radius: 20px; }

.site-nav {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  max-width: 98.5%; }
  @media screen and (max-width: 768px) {
    .site-nav {
      font-size: 10.5px; } }
  .site-nav ul {
    text-align: center; }
    .site-nav ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border-right: 2px dotted #231815; }
      .site-nav ul li:first-child {
        border-left: 2px dotted #231815; }
      .site-nav ul li a:hover {
        text-decoration: underline; }

.contact-link .inner {
  background-color: white;
  padding: 4rem 0; }
  @media screen and (max-width: 768px) {
    .contact-link .inner {
      padding: 2rem 0; } }

.contact-link .contact-wrap {
  width: 120rem;
  max-width: 98.5%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .contact-link .contact-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .contact-link .contact-wrap > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .contact-link .contact-wrap > div:not(:last-child) {
      margin-right: 30px; }
      @media screen and (max-width: 768px) {
        .contact-link .contact-wrap > div:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px; } }
  .contact-link .contact-wrap .contact-tel {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }

.site-header {
  position: relative;
  padding-top: 35px;
  margin-bottom: 35px; }
  .site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: #8dc21f; }
  .site-header .header-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px 0;
    width: 120rem;
    max-width: 98.5%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 768px) {
      .site-header .header-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .site-header .header-top > div:first-child {
      margin-right: auto; }
    .site-header .header-top > div:not(:first-child) {
      margin-left: 30px; }
    @media screen and (max-width: 768px) {
      .site-header .header-top > div:first-child {
        margin-left: auto;
        margin-right: auto; }
      .site-header .header-top > div:not(:first-child) {
        margin-left: auto;
        margin-right: auto; }
      .site-header .header-top > div:not(:last-child) {
        margin-bottom: 30px; } }

.site-footer .footer-bottom {
  margin-top: 40px;
  padding: 30px 0;
  width: 100%;
  background: url(../img/helper/footer-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 75%; }
  .site-footer .footer-bottom > div:not(:last-child) {
    margin-bottom: 15px; }
  .site-footer .footer-bottom .footer-access {
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; }

#helper {
  position: relative;
  text-align: left; }
  #helper h1 {
    font-size: 200%;
    text-align: center;
    letter-spacing: .20em; }
    @media screen and (max-width: 768px) {
      #helper h1 {
        font-size: 125%; } }
    #helper h1 span {
      color: #f1667d; }
  #helper .fv {
    width: 100%;
    height: 800px;
    background: url(../img/helper/fv-bg.jpg) no-repeat;
    background-size: cover;
    background-position: bottom; }
    @media screen and (max-width: 768px) {
      #helper .fv {
        height: 200px; } }
  #helper .taisho-list li span {
    font-size: 75%; }
  #helper .taisho-list li::before {
    content: "●";
    margin-right: .25em; }
  @media screen and (max-width: 768px) {
    #helper .service-desc-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #helper .service-desc-wrap > div {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    #helper .service-desc-wrap > div:not(:last-child) {
      margin-right: 30px; }
      @media screen and (max-width: 768px) {
        #helper .service-desc-wrap > div:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px; } }
  #helper .service-desc-wrap .service-desc > *:not(:last-child) {
    margin-bottom: 10px; }
  #helper .service-desc-wrap .service-desc h3 {
    display: inline-block;
    font-size: 150%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(0%, #8dc21f));
    background: linear-gradient(transparent 85%, #8dc21f 0%); }
  #helper .service-desc-wrap .service-desc .service-desc-contents {
    padding: 10px;
    background-color: white;
    border: 2px solid #999; }
  #helper .service-desc-wrap .service-desc-img {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #helper .flow-item {
    position: relative;
    background-color: white;
    padding: 20px 40px;
    border: 2px solid #999; }
    @media screen and (max-width: 768px) {
      #helper .flow-item {
        padding: 10px; } }
    #helper .flow-item > *:not(:last-child) {
      margin-bottom: 10px; }
    #helper .flow-item:not(:last-child) {
      margin-bottom: 50px; }
      #helper .flow-item:not(:last-child)::after {
        content: "▼";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -41px;
        color: #8dc21f; }
    #helper .flow-item h3 {
      font-size: 150%;
      color: #8dc21f;
      display: inline-block;
      border-bottom: 2px solid #999;
      padding-right: 40px; }
      #helper .flow-item h3 span {
        font-size: 75%; }
      @media screen and (max-width: 768px) {
        #helper .flow-item h3 {
          font-size: 125%;
          padding-right: 10px; } }
  #helper .qa-item .qa-q {
    background-color: #8dc21f;
    color: white; }
    #helper .qa-item .qa-q p::before {
      content: "Q.";
      margin-right: .25em; }
  #helper .qa-item .qa-a {
    background-color: white; }
    #helper .qa-item .qa-a p::before {
      content: "A.";
      margin-right: .25em; }
  #helper .qa-item .qa-q, #helper .qa-item .qa-a {
    padding: 20px 40px; }
    @media screen and (max-width: 768px) {
      #helper .qa-item .qa-q, #helper .qa-item .qa-a {
        padding: 10px; } }
