///*------------------------------
// 色指定
//------------------------------*/

//無彩色
$color-white: #fff;
$color-black: #000;

//原色
$color-red: #f00;
$color-blue: #00f;
$color-green: #0f0;

$color-yellow: #ff0;
$color-magenta: #f0f;
$color-cyan: #0ff;

//テキストカラー
$color-text: #231815;

//背景色
$color-bg-base: #f9f9e8;

//ベースカラー
$color-main: #8dc21f;
$color-sub: #eaffb6;