///*------------------------------
// 色々なサイズ
//------------------------------*/

//コンテンツ横幅
$ContentsWidth: 120rem;

//最大横幅
$MaxWidth: 98.5%;

//マージン
$em: 1em;

// 1rem = 10px
$px-5: .5rem;

$px-10: 1rem;
$px-20: 2rem;
$px-30: 3rem;
$px-40: 4rem;
$px-50: 5rem;

$px-60: 6rem;
$px-70: 7rem;
$px-80: 8rem;
$px-90: 9rem;
$px-100: 10rem;

//フォントサイズ（親要素依存）
$font-50: 50%;
$font-small: 75%;
$font-normal: 100%;
$font-large: 125%;
$font-150: 150%;
$font-200: 200%;
$font-300: 300%;
$font-400: 400%;

//opacity
$opacity-base: .7; //透明度の設定の際はこれを基準値にする